* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  background-color: black;
  color: red;
}

.container {
  margin: 0 auto;
  max-width: 880px;
}

.horloge {
  text-align: center;
}

.hourbottom,
.minutebottom,
.minutebottom2,
.hourbottom2,
.hourtop,
.minutetop,
.minutetop2,
.hourtop2 {
  padding: 50px;
  border: solid black;
}

.time {
  padding: 150px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nine {
  margin: 15px;
}

.point {
  font-size: 5rem;
}

.haut {
  padding: 50px;
  border-top-color: red;
}
.bas {
  padding: 50px;
  border-bottom-color: red;
}
.gauche {
  padding: 50px;
  border-left-color: red;
}
.droite {
  padding: 50px;
  border-right-color: red;
}
